  <!-- Main Page Content and Sidebar -->
 
  <div class="row">
 
    <!-- Contact Details -->
    <div class="large-9 columns">
 
      <h3>Get in Touch!</h3>
      <p>We'd love to hear from you. You can either reach out to us as a whole and one of our awesome team members will get back to you, or if you have a specific question reach out to one of our staff. We love getting email all day <em>all day</em>.</p>
 
      <div class="section-container tabs" data-section>
        <section class="section">
          <h5 class="title"><a href="#panel1">Contact Our Company</a></h5>
          <div class="content" data-slug="panel1">
            <form>
              <div class="row collapse">
                <div class="large-2 columns">
                  <label class="inline">Your Name</label>
                </div>
                <div class="large-10 columns">
                  <input type="text" id="yourName" placeholder="Jane Smith">
                </div>
              </div>
              <div class="row collapse">
                <div class="large-2 columns">
                  <label class="inline"> Your Email</label>
                </div>
                <div class="large-10 columns">
                  <input type="text" id="yourEmail" placeholder="jane@smithco.com">
                </div>
              </div>
              <label>What's up?</label>
              <textarea rows="4"></textarea>
              <button type="submit" class="radius button">Submit</button>
            </form>
          </div>
        </section>
        <section class="section">
          <h5 class="title"><a href="#panel2">Specific Person</a></h5>
          <div class="content" data-slug="panel2">
            <ul class="large-block-grid-5">
              <li><a href="mailto:mal@serenity.bc.reb"><img src="http://placehold.it/200x200&amp;text=[person]">Mal Reynolds</a></li>
              <li><a href="mailto:zoe@serenity.bc.reb"><img src="http://placehold.it/200x200&amp;text=[person]">Zoe Washburne</a></li>
              <li><a href="mailto:jayne@serenity.bc.reb"><img src="http://placehold.it/200x200&amp;text=[person]">Jayne Cobb</a></li>
              <li><a href="mailto:doc@serenity.bc.reb"><img src="http://placehold.it/200x200&amp;text=[person]">Simon Tam</a></li>
              <li><a href="mailto:killyouwithmymind@serenity.bc.reb"><img src="http://placehold.it/200x200&amp;text=[person]">River Tam</a></li>
              <li><a href="mailto:leafonthewind@serenity.bc.reb"><img src="http://placehold.it/200x200&amp;text=[person]">Hoban Washburne</a></li>
              <li><a href="mailto:book@serenity.bc.reb"><img src="http://placehold.it/200x200&amp;text=[person]">Shepherd Book</a></li>
              <li><a href="mailto:klee@serenity.bc.reb"><img src="http://placehold.it/200x200&amp;text=[person]">Kaywinnet Lee Fry</a></li>
              <li><a href="mailto:inara@guild.comp.all"><img src="http://placehold.it/200x200&amp;text=[person]">Inarra Serra</a></li>
            </ul>
          </div>
        </section>
      </div>
    </div>
 
    <!-- End Contact Details -->
 
 
    <!-- Sidebar -->
 

    <div class="large-3 columns">
      <h5>Map</h5>
      <!-- Clicking this placeholder fires the mapModal Reveal modal -->
      <p>
        <a href="" data-reveal-id="mapModal"><img src="http://placehold.it/400x280"></a><br />
        <a href="" data-reveal-id="mapModal">View Map</a>
      </p>
      <p>
        123 Awesome St.<br />
        Barsoom, MA 95155
      </p>
    </div>
    <!-- End Sidebar -->
  </div>
 
  <!-- End Main Content and Sidebar -->
 
  <!-- Map Modal -->
 
  <div class="reveal-modal" id="mapModal">
    <h4>Where We Are</h4>
    <p><img src="http://placehold.it/800x600" /></p>
 
    <!-- Any anchor with this class will close the modal. This also inherits certain styles, which can be overriden. -->
    <a href="#" class="close-reveal-modal">&times;</a>
  </div>


  <!--prijava popup -->
<div id="prijava" class="reveal-modal">
  <h3>Prijavite se</h3>
<div class="row">
<div class="large-4 columns">
  <form accept-charset="UTF-8" action="/users/sign_in" class="new_user" id="new_user" method="post">
<div style="margin:0;padding:0;display:inline">
  <input name="utf8" type="hidden" value="&#x2713;" />
  <input name="authenticity_token" type="hidden" value="RRrZcpxMPMeidchi6kAe+k/1XGTtO5qw2DaAnxrShsc=" />
</div> 
<div>
  <label for="user_email">Email</label>
</div>
  <input autofocus="autofocus" id="user_email" name="user[email]" placeholder="Vaš email" type="email" value="" />
<div>
  <label for="user_password">Geslo</label>
</div>
  <input id="user_password" name="user[password]" placeholder="Vaše geslo" type="password" />
<div>
  <input name="user[remember_me]" type="hidden" value="0" />
  <input id="user_remember_me" name="user[remember_me]" type="checkbox" value="1" /> 
  <label for="user_remember_me">Zapomni se</label>
</div>
<div>
  <input name="commit" type="submit" value="Prijava" /></div>
</form>
  <a href="#" data-reveal-id="registracija">Registracija</a><br />
  <a href="#" data-reveal-id="reset-pass">Ste pozabili vaše geslo?</a><br />
</div>
</div>
  <a class="close-reveal-modal">&#215;</a>
</div>
<!--registracija popup -->
<div id="registracija" class="reveal-modal">
  <h3>Registrirajte se</h3>
<div class="row">
<div class="large-4 columns">
  <form accept-charset="UTF-8" action="/users" class="new_user" id="new_user" method="post">
<div style="margin:0;padding:0;display:inline">
  <input name="utf8" type="hidden" value="&#x2713;" />
  <input name="authenticity_token" type="hidden" value="RRrZcpxMPMeidchi6kAe+k/1XGTtO5qw2DaAnxrShsc=" />
</div>
<div>
  <label for="user_email">Email</label>
</div>
  <input autofocus="autofocus" id="user_email" name="user[email]" placeholder="Vaš email" type="email" value="" />
<div>
  <label for="user_password">Geslo</label>
</div>
  <input id="user_password" name="user[password]" placeholder="Vaše geslo" type="password" />
<div>
  <label for="user_password_confirmation">Potrditev gesla</label>
</div>
  <input id="user_password_confirmation" name="user[password_confirmation]" placeholder="Ponovno vnesite vaše geslo" type="password" />
<div>
  <input name="commit" type="submit" value="Registrirajte se" />
</div>
</form>
<a href="#" data-reveal-id="prijava">Prijava</a><br />
</div></div>
  <a class="close-reveal-modal">&#215;</a>
</div>
<!--reset password popup --> 
<div id="reset-pass" class="reveal-modal">
  <h3>Ste pozabili vaše geslo?</h3>
<div class="row">
<div class="large-4 columns">
  <form accept-charset="UTF-8" action="/users/password" class="new_user" id="new_user" method="post">
<div style="margin:0;padding:0;display:inline">
  <input name="utf8" type="hidden" value="&#x2713;" />
  <input name="authenticity_token" type="hidden" value="RRrZcpxMPMeidchi6kAe+k/1XGTtO5qw2DaAnxrShsc=" />
</div>
<div>
  <label for="user_email">Email</label><br />
  <input autofocus="autofocus" id="user_email" name="user[email]" placeholder="Vnesite vaš email" type="email" value="" />
</div>
<div>
  <input name="commit" type="submit" value="Zahtevaj novo geslo" />
</div>
</form>
<a href="#" data-reveal-id="prijava">Prijava</a><br />
<a href="#" data-reveal-id="registracija">Registracija</a><br />
</div></div>
  <a class="close-reveal-modal">&#215;</a>
</div>    