/*
 *= require_self
 *= require foundation_and_overrides
 */
// This includes all of the foundation global elements that are needed to work with any of the other files.


// Foundation Components
@import
  "foundation/components/global",
  "foundation/components/grid",
  "foundation/components/visibility",
  "foundation/components/block-grid",
  "foundation/components/type",
  "foundation/components/buttons",
  "foundation/components/forms",
  "foundation/components/button-groups",
  "foundation/components/dropdown-buttons",
  "foundation/components/split-buttons",
  "foundation/components/flex-video",
  "foundation/components/section",
  "foundation/components/top-bar",
  "foundation/components/orbit",
  "foundation/components/reveal",
  "foundation/components/joyride",
  "foundation/components/clearing",
  "foundation/components/alert-boxes",
  "foundation/components/breadcrumbs",
  "foundation/components/custom-forms",
  "foundation/components/keystrokes",
  "foundation/components/labels",
  "foundation/components/inline-lists",
  "foundation/components/pagination",
  "foundation/components/panels",
  "foundation/components/pricing-tables",
  "foundation/components/progress-bars",
  "foundation/components/side-nav",
  "foundation/components/sub-nav",
  "foundation/components/switch",
  "foundation/components/magellan",
  "foundation/components/tables",
  "foundation/components/thumbs",
  "foundation/components/tooltips",
  "foundation/components/dropdown";
@import 'blogs';
@import 'domov';
@import 'foundation_and_overrides';


// head menu glavni

    .name {
          .baytfix {
            text-align:center;
            color:black;
            font-family:georgia;    
            top:-12%;
            font-size: 10px;
            position:relative;
            margin:10px;
          }
    .klikni {
      position:relative;
      font-size:10px;
      background:black;
      color:white;
      width:260px;
      height:16px;
      cursor:pointer;
      top:-1px;
    } 
  } 

.top-bar-section {
  .title-area {
    background-color: #2B73CB;
    #prijavljeni {
      position:relative;
      top:10px;
      text-align: center;
        .name_a {
          margin:4% auto;
          background-color: #1A6ACB;
          width:290px;
          height:40px;
          border:1px solid none;  
          position:relative;
          -webkit-box-shadow: 0px -4px 12px rgba(50, 50, 50, 0.85); 
          -moz-box-shadow: 0px -4px 12px rgba(50, 50, 50, 0.85); 
          box-shadow: 0px -4px 12px rgba(50, 50, 50, 0.85); 
          -webkit-border-radius: 25px;
          -moz-border-radius: 25px;
          border-radius: 25px;
            h1 {
              text-align: center;
              margin-top:4%;              
              color: white;
              font-size: 9px;
              }
                .p {
                  text-align: center;
                  border-bottom: 1px solid #2F6AEB;
                  font-color:white;
                  }
                a {
                  color:white;border-bottom:1px solid blue;
                  -webkit-box-shadow: 0px 4px 12px rgba(50, 50, 50, 0.85);
                  -moz-box-shadow: 0px 4px 12px rgba(50, 50, 50, 0.85);
                  box-shadow: 0px 4px 12px rgba(50, 50, 50, 0.85);
                  font-size: 11px;
                    &:hover {
                    color:black;
                  }
              }
          }
      }
  }
} 
      
#login {
    border:1px solid #2BA6CB;
    width:240px;
    height:150px;
    display:none;
    padding:10px;
    position:fixed;
    z-index:12;
    background-color:#2B73CB;
    color:white;
    font-size:8px;
    
    h6, h5 {
      color:white;
      text-align:right;
      bottom:-127px;
      position:relative;
    }

    h5 {
      bottom:-110px;
      text-align:left;
    }
}     

.glavni-menu.stick {
  top:-10px;
  position:fixed;z-index:10;
}
  .glavni-menu {
  background-color:#2BA6CB;width:100%;
  position:relative;
  padding:10px;top:1px;
  -webkit-box-shadow: 0px 5px 13px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 5px 13px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 5px 13px rgba(50, 50, 50, 0.75);

    p { text-align:right;
     
  }
}

   

// footer css style
.show-footer {
  position:relative;



  #footer {
  left:-1%;
  right:-1%;
  background-color:#2BA6CB;
  clear:both;
  width:102%;
  height: 200px;
  bottom:0;
  position: fixed;
  z-index:9;  
  -webkit-box-shadow: 0px -5px 13px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px -5px 13px rgba(50, 50, 50, 0.75);
  box-shadow: 0px -5px 13px rgba(50, 50, 50, 0.75);


.spodnje-icon {      
      position:relative;
      border:1px solid none;
      height:70px;
  .footer-icons {
        float:right;
        left:-20px;
        height:70px;
        position:relative;
        width:200px;
      .footer-logo {
        position:absolute;left:200px;
    }      
  }
}
  
  .back-to-up {
    position:relative;
    float:right;
    left:-20px;
    z-index:1;

    .backtop:hover {   
        background-image: image-url("/assets/top2.png");
}   
    
    }
  }  
}          









