// Place all the styles related to the Domov controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/





.div1 {
  background:#f7f7f7;
  border:1px solid #000000;
  font-size:14px;
  font-weight:bold;

    opacity:0;
    filter:alpha(opacity=0);

  width:500px;
}


.div2 {
  background:#f7f7f7;
  border:1px solid #000000;
  font-size:14px;
  font-weight:bold;

    opacity:0;
    filter:alpha(opacity=0);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
 
  width:500px;
}
